* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.about-content {
    background-color: #f5efe6;
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.about-content h1 {
    margin-bottom: 20px;
    color: #FF6A1C;
}


.about-content p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

.about-content a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    background-color: #FF6A1C;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.about-content a:hover {
    background-color: #e85a5a;
}