*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.booking-container{
    width: 420px;
    background: #222;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    text-align: center;
}

.booking-container h1{
    color: #FF6A1C;
    margin-bottom: 15px;
    font-size: 38px;
}

.booking-container p{
    color: #ddd;
    margin-bottom: 30px;
    line-height: 1.6;
}

.booking-container form{
    display: flex;
    flex-direction: column;
}

.booking-container input{
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    font-size: 16px;
    outline: none;
}

.booking-container input::placeholder{
    color: #bbb;
}

.booking-container input:focus{
    border: 2px solid orange;
}

.booking-container button{
    background: #FF6A1C;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.booking-container button:hover{
    background: #ff9800;
}

.booking-container a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #FF6A1C;
    font-size: 17px;
    transition: .3s;
}

.booking-container a:hover{
    color: white;
}

@media(max-width:500px){

    .booking-container{
        width: 90%;
        padding: 25px;
    }

    .booking-container h1{
        font-size: 30px;
    }

}